/.idea/.gitignore
/.vs/W2/v16/.suo
/.vs/W2/v16/Browse.VC.db
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.idea/vcs.xml
/.vs/VSWorkspaceState.json
/.idea/W2.iml
